.wrapper__content__new
  %ul.circles
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home