.wrapper__content__search
  %ul.circles
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home
    %li.fas.fa-home