.main
  .calendar
    - if current_user.authority != 1
      #calendar
    - if current_user.authority == 1
      %h1
        メーカー納期回答待ち
      - @orders.each do |order|
        - if order.stage == 2
          .box__order
            = link_to edit_order_path(order) do
              .box__order__site-name
                = order.site_name
                %br/
              .box__order__desired-date
                = order.desired_date

  