.side
  %h1.content
    納期回答待ち
  .box
    .box__sitename
      山田様邸
    .box__hope
      6月11日
  .box
    .box__sitename
      山田様邸
    .box__hope
      6月11日
  .box
    .box__sitename
      山田様邸
    .box__hope
      6月11日
  .box
    .box__sitename
      山田様邸
    .box__hope
      6月11日
    