.wrapper
  = render "header"
  .create-edit-message-box
    .create-edit-message
      .message
        %pご注文ありがとうございます
        %p発注完了しました 
    .root-path
      = link_to root_path do
        .fas.fa-undo-alt
        %p HOME
