.wrapper
  = render "header"
  .allcontent
    .allcontent__box
      - if current_user.authority == 1
        = render "ed_authority"
      - if current_user.authority != 1
        = render "ed_noauthority"
      