.wrapper
  = render "header"
  .allcontent
    .allcontent__box
      .menu-title
        %h1発注履歴検索
      .order__menu
        .field-input
          %input#search-field.field-input__search{:placeholder => "検索したい現場名を入力してください", :type => "text"}/
          .search-btn
            %button検索
  %p.root-path
    = link_to root_path do
      トップページへ戻る