.wrapper
  = render "header"
  .wrapper__content
    %ul.circles
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li
      %li

    = render "side_bar"
    = render "main"