.wrapper
  = render "header"
  .allcontent
    .allcontent__box
      %h1.menu-title
        新規発注
      .order__menu
        = render partial: 'form'

      .root-path
        = link_to root_path do
          .fas.fa-undo-alt
          %p HOME



    