.wrapper
  = render "header"
  .order
    %h1.order__order
      新規発注
    -# .order__menu
    -#   = form_for [@group, @message] do |f|
    -#   .input-box
    -#     = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'

    -#   = f.submit 'Send', class: 'submit-btn'