.allcontent {
  height: 100vh;
  width: 100%;
  .allcontent__box {
    text-align: center;
    margin: 30px;
    
    .menu-title {
        position: relative;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        width: 33%;
        margin: 0 auto;
      }
      .menu-title:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        background: -webkit-repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
        background: repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
      }
  }
}
@import "input";
@import "edit";
@import "create_edit";
