td.fc-sat {
  background-color: #EEEEEE;
}
td.fc-sun {
  background-color: #EEEEEE;
}
td.fc-sat {
  background-color: #EEEEEE;
}
td.fc-sun, td.fc-hol {
  background-color: #EEEEEE;
}

.holiday-name {
  width: 90px;
  font-size: 13px;
  color: red;
}