.order__menu {
  margin-top: 50px;
    &__content {
      width: 1100px;
    }
  font-size: 20px;
  display: flex;
  justify-content: center;
  .input-box {
    position: relative;
    width: 500px;
    input:focus {
      border-bottom: 2px solid #da3c41;
      outline: none;
    }
    
  .input-box__text,.input-box__text2,.input-box__text3,.input-box__text4,.input-box__text5,.input-box__text6,.input-box__text7 {
    font: 15px/24px sans-serif;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
  }
  .input-box__name {
    margin: auto;
  }
  .input-box__big {
    border: 2px solid #1b2538;
    height: 200px;
    
  }
}
.submit-area {
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}


.error-message {
p {
  font-size: 15px;
  color: red;
}
}

.runningman {
  display: flex;
  position: relative;
  &__icon {
    // width: 100%;
    height: 100%;
    position: absolute;
    left: -100px;
    &__box {
      overflow: hidden;
      width: 100px;
      height: 100%;
      font-size: 30px;
      position: relative;

      &__content,&__content2,&__content3,&__content4,&__content5,&__content6,&__content7 {
      padding-left: 70px;
      transition:all 1s ease;
      position: absolute;
      height: 100%;
      width: 100%;
      left: -100px;

     }
     
    }

  }
}
}

.submit-btn {
  width: 200px;
  background-color: #1b2538;
  color: white;
  transition:all 1s ease;
  border: solid 2px #1b2538;
}

.submit-btn:hover {
background:#fff;
color:#1b2538;
background-color: #aaaaaa;
}

.root-path {
  margin-top: 100px;
  transition:all .5s ease;
  
}

.root-path:hover {
  font-size: 20px;

}
@import "back";