.allcontent {
  position: relative;
  z-index: 3;
} 
.main {
  // background-color: #BBBBBB;
  height: 100%;
  width: 100%;
  overflow: scroll;
  &__box {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 20px;
  }
  .content-title{
    position: relative;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    &__link {
      display: flex;
    }
  }
  .content-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
  }

    .box__order {
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #232323;
      background: #AEFFBD;
      border-left: solid 10px #222222;
      margin-left: 50px;
      font-weight: bold;
      width: 400px;
      text-align: center;
      position: relative;
      z-index:2;
      overflow: hidden;
      .box__order__body {
        transition:all 1s ease;
        z-index:2;
        position:relative;
      }
      &__hover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0px;
        z-index:1;
        // float: left;
        transition:all 1s ease;
        // left: -140px;
        background-color: #222222;
      }
      }
      .box__order:hover .box__order__hover {
        left: 0px;
    
      }
      .box__order:hover {
        box-shadow: 0px 0px 20px 0px;
        border-right: solid 10px #AEFFBD;
        .box__order__body {
          color:white;
          padding-left:10px;
          text-shadow:0px 0px 30px #fff;
    
        }
      }
      .content-link {
        font-weight: bold;
        font-size: 20px;
        margin: 2em 0;
        li {
          margin-bottom: 10px;
        }
      }
  
  #calendar {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 900;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    z-index: 3;
  }
  }
  .wrapper__content {
  background-image: url("/assets/background2.jpeg");
  background-color: rgb(230, 233, 224);
  height: 100%;
  background-position: center center;
   
  // /* 画像をタイル状に繰り返し表示しない */
  // background-repeat: no-repeat;
   
  // /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  // /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  // /* 背景画像が読み込まれる前に表示される背景のカラー */
  // background-color: #464646;

  background-position-y: -1150px;

//   .wrapper__content {
//     width: 100%;
//     position: absolute;
//     top:50vh;
    
// }

/* .context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
} */


// .area{
//     // /* background: #3b43be;   */
//     // background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
//     width: 100%;
//     height:100%;
    
   
// }

.circles{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    animation: animate 25s linear infinite;
		bottom: -150px;
    background-color: #CCFFFF;
    font-size: 40px;
	}
	
	.circles li:nth-child(1){
		left: 25%;
    width: 80px;
		border-radius:50% ;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .8;
				border-radius: 0;
				border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



  }

  .content-link {
    position: relative;
    z-index: 10;
    text-align: center;
    a {
    transition:all 1s ease;
    }
    a:hover {
      color: red;
      padding-left: 10px;
    }
  }
  .main__box__right {
    width: 300px;
    
  }