a {
  text-decoration: none;
  color: black;
}
.side {
  height: 100vh;
  width: 500px;
  overflow: scroll;
  margin-top: 100px;
  margin-left: 20px;
  // background-color: #BBBBBB;
  .content {
    position: relative;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  .content:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #BBBBBB, #BBBBBB 2px, #fff 2px, #fff 4px);
  }
  .box__order {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #FFD700;
    border-left: solid 10px #222222;
    width: 80%;
    margin-left: 50px;
    font-weight: bold;



    // font-size: 20px;
    // margin:15px 15px;
    // padding: 15px;
    // text-align: center;
    // background-color: #ADD8E6;
    // border-radius: 5px;
    // color: wheat;
    text-align: center;
  
  }

}